 <div class="card-overview">
                <div _ngcontent-doh-c18="" class="docs-example-viewer-wrapper">
                    <div _ngcontent-doh-c18="" class="docs-example-viewer-title">
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-11 col-md-8 col-lg-6 pb-5">
                            <section class="section">
                                <div class="container">
                                    <div class="row">
                                    <div class="col s12">
                                    <h2 class="doc-sections-title">Nos offres au meilleur prix !</h2>
                                    <br>
                                <div class="row">
                                    <div class="col s12 m10 offset-m1">
                                    <div class="row">
                                <div class="col s12 m6  l4 offset-l2">
                                <div class="contract">
                                <div data-v-756f9178="" class="v-list-item__content">
                                    <div  class="tmp">En 4 minutes</div>
                                    <div class="contrat">CDI</div>
                                </div>
                                <div class="prix">100D</div>
                                <hr data-v-756f9178="" role="separator" aria-orientation="horizontal" class="v-divider theme--light">
                                <div class="description-title">Contrat à Durée Indéterminéé </div>
                                <h4><small>Téléchargement immédiat </small></h4> <br> <br><br>
                                    <a href="./user/legal-document-description/5dad0d7dd1a76c479c02affa90" class="btn-1">Sélectionner</a>
                                    <p></p>
                                </div>
                                </div>
                                <div class="col s12 m6 l4">
                                    <div class="contract">
                                        <div data-v-756f9178="" class="v-list-item__content">
                                            <div  class="tmp">En 4 minutes</div>
                                            <div class="contrat">CDD</div>
                                    </div>
                                        <div class="prix">100D</div>
                                        <hr data-v-756f9178="" role="separator" aria-orientation="horizontal" class="v-divider theme--light">
                                        <div class="description-title">Contrat à Durée déterminéé </div>
                                        <h4><small>Téléchargement immédiat </small></h4> <br> <br><br>
                                            <a href="./user/legal-document-description/5dad0d7dd1a76c479c02affa90" class="btn-1">Sélectionner</a>
                                            <p></p>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="description-title-1">Deux types contrats, un seul prix !</div>
                            <p class="details" style="margin-left: 20%;">
                                <span style="font-family: wingdings; font-size: 150%; text-align: center;">ü</span> Création en 4 minutes chrono <br>
                                <span style="font-family: wingdings; font-size: 150%; text-align: center;">ü</span> Téléchargeable immédiatement <br>
                                <span style="font-family: wingdings; font-size: 150%;text-align: center;">ü</span> 100% conforme à la législation en vigueur <br>
                                <span style="font-family: wingdings; font-size: 150%;text-align: center;">ü</span> Modifiable à tout moment <span class="red-text">*</span> <br>
                            </p>
                                        
                        
                        </section>
                        </div>
                    </div>        
                </div>
</div>
 