<div class="card-overview">
    <div _ngcontent-doh-c18="" class="docs-example-viewer-wrapper">
        <div _ngcontent-doh-c18="" class="docs-example-viewer-title">

        </div>
        <div class="row justify-content-center">
            <div class="col-11 col-md-8 col-lg-6 pb-5">
              <h1 class="team">Équipe:</h1>
               <div class="lead">
                <p class="tit-team">Omar Ferchiou : Cofondateur et CEO.</p>
                <p class="tit-team">Dali Belaajouza : Cofondateur.</p>
                <p class="tit-team">Sami Nakouri : Cofondateur et CTO.</p>
                <p class="tit-team">Kais Ferchiou : Cofondateur Manager.</p>
               </div>
            </div>
        </div>
    </div>
</div>


