.h4 {
  color: red;
}
#A {
  color: blue;
}

.ment-legal {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: #1a1ae6d9;
}
.tit-legal {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  color: #445361;
  font-weight: bold;
}
.group-legal {
  padding: 3%;
  text-align: justify;
}
.parag-legal {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
}
