.terms {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: #1a1ae6d9;
}
.group-terms {
  padding: 3%;
  text-align: justify;
}
.art-terms {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  color: #445361;
  font-weight: bold;
}
.parag-terms {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
}
