/* #Resets
–––––––––––––––––––––––––––––––––––––––––––––––––– */




/* #Universal and Default Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */







/* #Navigation Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* #Mega Menu Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mega-menu {
	background: #f0f0f0;
  	display: none;
  	left: 0;
  	position: absolute;
  	text-align: left;
  	width: 100%;
}
.mega-menu h3 {color: #444;}
.mega-menu ul {
	float: left;
  	margin-bottom: 20px;
  	margin-right: 40px;
  	width: 220px;
}
.mega-menu ul:last-child {margin-right: 0;}
.mega-menu a {
	border-bottom: 1px solid #ddd;
  	color: #4ea3d8;
  	display: block;
  	padding: 10px 0;
}
.mega-menu a:hover {color: #2d6a91;}



/* #Droppable Class Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.droppable:hover .mega-menu {display: block;}



/* #Browser Clearfix
–––––––––––––––––––––––––––––––––––––––––––––––––– */
