<div class="card-overview">
    <div _ngcontent-doh-c18="" class="docs-example-viewer-wrapper">
        <div _ngcontent-doh-c18="" class="docs-example-viewer-title">

        </div>
        <div class="row justify-content-center">
            <div class="col-11 col-md-8 col-lg-6 pb-5">
              <h1>Qui sommes-nous?</h1>
              
                <p class="lead"></p>
                <p>
                    Plateforme juridique, Paperlabs propose un large éventail de services juridiques destinés
                    aussi bien aux particuliers qu’aux professionnels.  
                </p>
                <p>
                    Le site Paperlabs, grâce aux nouvelles technologies, permet aux personnes concernées
                    d’outrepasser la barrière que représente aujourd’hui le coût des services juridiques
                    traditionnels.
                </p>
                <p>
                    L’accès à des services qui pouvaient sembler rigides et onéreux s’en trouve simplifié.
                    L’utilisateur de la plateforme Paperlabs pourra non seulement créer ses documents
                    administratifs et juridiques en ligne, mais aussi avoir recours aux services d’un avocat en cas
                    de besoin. 
                </p>
                
            </div>
        </div>
    </div>
</div>
