.about {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: #1a1ae6d9;
}
.group-parg-about {
  padding: 3%;
  text-align: justify;
}
.parg-about {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
}
